body {
    background-color: #D9CDF7;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.caixa {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.lanternas {
    width: 700px;
    margin: 0 auto;
}
.Titulo {
    font-family: "Crimson Pro", serif;
    font-weight: 600;
    font-style: normal;
    color: #271A45;
    font-size: 35px;
    margin: 20px 0;
    margin-right: 6rem;
}
.preco {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #271A45;
    font-size: 18px;
    
    margin-right: 20rem;
}
button{
    font-family: "Lato", sans-serif;
    background-color: #D9CDF7;
    color:#271A45;
    width: 14rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 16px;
    margin-right: 11rem;
    margin-top: 2rem;
}
button:hover{
    cursor: pointer;
}
.cod {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    
    margin-right: 19rem;
}


